*{
    font-family: 'Times New Roman', Times, serif;
}

ul {
    background-color: green;
    color: white;
    display: inline-block;
    width: 100%;
}

body {
    min-width: 800px;
}

.header {
    margin-bottom: 0;
}

.search-container {
    background-color: white;
    position: relative;
    display: inline-block;
    border:1px solid #000;
    text-align: center;
    padding: .1%;
}

.search-container input, button {
    background-color: transparent;
    border: 0;
}

.search-container:hover {
    background-color: white;
}

.search-container button {
    position: absolute;
    right: 0;
    top:0;
}

.title {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0;
}

.subTitle {
    text-align: center;
    margin-top: 0;
}

.main {
    border: 2px solid black;
    background: url('https://i.imgur.com/2JQLVQk.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20%;
}

.main button {
    background-color: green;
    border: none;
    border-radius: 8px;
    padding: 1%;
    text-align: center;
    font-weight: bold;
    width: fit-content;
    position: absolute;
    bottom: 10%;
}

.content1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 300px;
  margin-bottom: 2%;
}

.box {
    border-style: solid;
    border-width: 30px;
    border-color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-position: center;
    background-size: cover;
    color: white;
}

.box p{
    background-color: green;
}

.A {
    background-image: url("https://i.imgur.com/B2pr55k.jpg");
    height: 100%;
}

.B {
    background-image: url("https://i.imgur.com/XrC7n1T.jpg");
    height: 100%;
}

.C {
    background-image: url("https://i.imgur.com/qXIn49a.jpg");
    height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
}

li {
    display: inline-block;
    padding: 15px;
}

a button {
    color: black;
}

a {
    color: white;
}

a:hover {
    color: white;
}

 ul li:hover {
    background-color: #555;
}

.cart {
    float: right;
}

.login {
    float: right;
}

.content2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 300px;
}

.content2-i {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    text-align: left;
    padding: 10px;
}

.productImg {
    text-align: center;
}