ul {
    background-color: green;
    color: white;
    display: inline-block;
    width: 100%;
}

body {
    min-width: 700px;
}

.search-container {
    background-color: white;
    position: relative;
    display: inline-block;
    border:1px solid #000;
    text-align: center;
    padding: .1%;
}

.search-container input, button {
    background-color: transparent;
    border: 0;
}

.search-container:hover {
    background-color: white;
}

.search-container button {
    position: absolute;
    right: 0;
    top:0;
}

.main {
    border: 2px solid black;
    background: url('https://i.imgur.com/2JQLVQk.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
}

.main button {
    background-color: whitesmoke;
    border: none;
    border-radius: 8px;
    text-align: center;
    height: 10%;
    width: 10%;
    position: absolute;
    bottom: 5%;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    
    /*min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}


li {
    display: inline-block;
    padding: 15px;
}

 ul li:hover {
    background-color: #555;
}

.cart {
    float: right;
}

.login {
    float: right;
}