<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel = "stylesheet" type = "text/css" href = "../stylesheets/style.css"/>
    </head>
    <body>
        <ul class = "header">
            <a href="/"><li class = "home">Home</li></a>
            <li class = "about">About</li>
            <a href="/cart"><li class = "cart">🛒 Cart</li></a>
            <li class = "login">Login/signUp</li>
            <li class = "search-container">
                <input type="text" placeholder="Search store" name="search">
                <button type="submit"><i class="fa fa-search"></i>🔍</button>
            </li>
        </ul>

               <div class = mainCart>
                   <h1 class= title>Your Cart</h1>
                   <div class = content3>
                        <div class = "contentImg"><img width = 200px src = "http://i.imgur.com/I86rTVl.jpg"></div>
                        <h6 class = "productName">Sample Text</h6>
                        <p class = "productPrice">Sample Text</p>
                   </div>
                   <button class= "checkOut">Checkout</button>
                   <div class= "total"><h5>Your total: </h5></div>
               </div> 

                <ul class = "footer">
                    <li>Contact</li>
                    <li>Help</li>
                </ul>
        </body>
    </html>