<!DOCTYPE html>
<html>
    <head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "../stylesheets/style.css"/>
    </head>
        <body>
            <ul id = "header">
                <li id= "active">Home</li>
                <li>About</li>
                <li id = "cart">🛒 Cart</li>
                <li id = "login">Login/signUp</li>
                <li id="search-container">
                          <input type="text" placeholder="Search store" name="search">
                          <button type="submit"><i class="fa fa-search"></i>🔍</button>
                </li>
            </ul>

            <div class = "main">
                <h1 id = "title">Epic Sports Goods</h1>
            </div>

            <ul id = "footer">
                <li>Contact</li>
                <li>Help</li>

            </ul>
        </body>
</html>