<!DOCTYPE html>
<html>
    <head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" type = "text/css" href = "../stylesheets/style.css"/>
    </head>
        <body>  
            <ul class = "header">
                    <a href="/"><li class = "home">Home</li></a>
                    <li class = "about">About</li>
                    <a href="/cart"><li class = "cart">🛒 Cart</li></a>
                    <li class = "login">Login/signUp</li>
                    <li class = "search-container">
                        <input type="text" placeholder="Search store" name="search">
                        <button type="submit"><i class="fa fa-search"></i>🔍</button>
                    </li>
                </ul>

            <div class = "main">
               <button><a href="/product">Shop Now!</a></button>
            </div>
            
            <div class = "content1">
                        <div class="box A"><p>Outdoor items</p></div>
                        <a href="/product"><div class="box B"><p>Footwear</p></div></a>
                        <div class="box C"><p>Sports items</p></div>
            </div>
            
            <ul class = "footer">
                <li>Contact</li>
                <li>Help</li>
            </ul>
        </body>
</html>